@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
body {
  background: black;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 1.5px;
  color: #fafafa;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.66em;
  padding-top: 56px;
}

body .body-matte {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(70%) contrast(60%);
          filter: grayscale(70%) contrast(60%);
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #fcf700;
  letter-spacing: unset;
}

/*----- Header -----*/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: black;
}

.navbar-brand {
  color: #fcf700 !important;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 100%;
  background: linear-gradient(currentColor 0 0) 0 0, linear-gradient(currentColor 0 0) 0 0, linear-gradient(currentColor 0 0) 0 100%, linear-gradient(currentColor 0 0) 0 100%, linear-gradient(currentColor 0 0) 100% 0, linear-gradient(currentColor 0 0) 100% 0, linear-gradient(currentColor 0 0) 100% 100%, linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  --d: 10px;
  padding: 5px 10px;
}

.navbar-collapse {
  padding: 25px 0 75px;
}

.nav-link {
  text-transform: uppercase;
  color: white !important;
}

.navbar-toggler {
  width: 55px;
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logo-desktop {
  width: 150px;
  height: auto;
  margin: 0 20px;
}

.logo-mobile {
  width: 100px;
  height: auto;
}

/*----- Main Page Carousel -----*/
.home-carousel {
  position: relative;
}

.home-carousel .triangle-bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.home-carousel .carousel-item img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(80%) contrast(100%);
          filter: grayscale(80%) contrast(100%);
}

/*----- Black Section -----*/
.black-section {
  background: black;
}

.bs-callout {
  font-weight: bolder;
  font-size: 60px;
  line-height: 0.9;
}

.bs-callout span {
  font-weight: 300;
  font-size: 36px;
}

/*----- Transparent Section -----*/
.transparent-section .custom-box-top .grappling {
  color: #fafafa;
  font-size: 36px;
}

.transparent-section .custom-box-top .circle {
  font-size: 50px;
}

.transparent-section .custom-box {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ef5241), to(#df2674));
  background: linear-gradient(to right, #ef5241 0%, #df2674 100%);
  padding: 20px;
}

.transparent-section .ts-text {
  color: #ffffff;
  font-size: 1.2rem;
}

/*----- Second Black Section -----*/
.second-black-section {
  background: black;
}

.second-black-section .stefan-strong {
  font-size: 36px;
}

/*----- Gradiant Section -----*/
.grad-section {
  background: #fb6c43;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb6c43), to(#fc136a));
  background: linear-gradient(to bottom, #fb6c43 0%, #fc136a 100%);
}

.grad-section a {
  text-decoration: none;
  color: #fafafa;
}

.triangle-bottom {
  position: relative;
  bottom: -1px;
}

.triangle-top {
  position: relative;
  top: -1px;
}

.icon {
  width: 20px;
}

/*----- Footer -----*/
footer {
  background: #000;
}

/*----- Media Queries -----*/
@media only screen and (min-width: 992px) {
  .nav-link {
    padding: 4px 12px;
    margin: 0 8px;
    position: relative;
  }
  .nav-link::before, .nav-link::after {
    z-index: 2;
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
  }
  .nav-link::before {
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
  .nav-link::after {
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent black;
  }
  .navbar-collapse {
    padding: 0;
  }
  .thick-2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcf700)) 50% calc(-3px - 100%)/var(--d, 0%) 200% no-repeat;
    background: linear-gradient(#fcf700 0 0) 50% calc(-3px - 100%)/var(--d, 0%) 200% no-repeat;
    -webkit-transition: 0.3s, background-size 0.3s 0.3s;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  .thick-2:hover {
    --d: 100%;
    background-position: 50% 0%;
    color: #000 !important;
    font-weight: bolder;
    -webkit-transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }
  body {
    padding-top: 137px;
  }
  .bs-callout {
    font-size: 122px;
  }
  .bs-callout span {
    font-size: 73px;
  }
  .home-carousel .carousel-item img {
    height: 600px;
  }
  .transparent-section .custom-box-top {
    max-width: 600px;
  }
  .transparent-section .custom-box-top .grappling {
    font-size: 48px;
  }
  .transparent-section .custom-box-top .circle {
    font-size: 80px;
  }
  .transparent-section .custom-box {
    max-width: 600px;
  }
  .stefan {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1400px) {
  .home-carousel .carousel-item img {
    height: 760px;
  }
}
/*# sourceMappingURL=custom.css.map */