@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


body {
  background: #040404;
  font-family: 'Ubuntu Mono', monospace;
  letter-spacing: 1.4px;
  color: #fafafa;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2em;
  padding-top: 56px;

  .body-matte {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: grayscale(70%) contrast(80%);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #fcf700;
  letter-spacing: unset;
}

section {
  scroll-margin-top: 56px;
}

@media only screen and (min-width: 992px) {
  section {
    scroll-margin-top: 138px;
  }

  body {
    padding-top: 137px;
  }
}

/*----- Header -----*/

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: black;
}

.navbar-brand {
  color: #fcf700 !important;
  text-transform: uppercase;

  background: linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
  --d: 10px;
  padding: 5px 10px;
}

.navbar-collapse {
  padding: 25px 0 75px;
}

.nav-link {
  text-transform: uppercase;
  color: white !important;
}

.navbar-toggler {
  width: 55px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.logo-desktop {
  width: 150px;
  height: auto;
  margin: 0 20px;
}

.logo-mobile {
  width: 100px;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .nav-link {
    padding: 4px 12px;
    margin: 0 8px;
    position: relative;

    &::before,
    &::after {
      z-index: 2;
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
    }

    &::before {
      top: 0;
      right: 0;
      border-style: solid;
      border-width: 0 10px 10px 0;
      border-color: transparent black transparent transparent;
    }

    &::after {
      bottom: 0;
      left: 0;
      border-style: solid;
      border-width: 10px 0 0 10px;
      border-color: transparent transparent transparent black;
    }
  }

  .navbar-collapse {
    padding: 0;
  }

  .nav-link {
    background: linear-gradient(#fcf700 0 0) 50% calc(-3px - 100%) / var(--d, 0%) 200% no-repeat;
    transition: 0.3s, background-size 0.3s 0.3s;
  }

  .nav-link:hover {
    --d: 100%;
    background-position: 50% 0%;
    color: #000 !important;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }
}

/*----- Main Page Carousel -----*/

.home-carousel {
  position: relative;

  .triangle-bottom {
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  .carousel-item {
    img {
      height: 350px;
      object-fit: cover;
      object-position: center;
      filter: grayscale(80%) contrast(100%);
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-carousel {
    .carousel-item {
      img {
        height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .home-carousel {
    .carousel-item {
      img {
        height: 760px;
      }
    }
  }
}

/*----- Jiu-Jitsu / Stundenplan -----*/

.black-section {
  background: #040404;
}

.bs-callout {
  font-weight: bolder;
  font-size: 60px;
  line-height: 0.9;

  span {
    font-weight: 300;
    font-size: 36px;
  }
}

@media only screen and (min-width: 992px) {
  .bs-callout {
    font-size: 122px;

    span {
      font-size: 73px;
    }
  }
}

/*----- Trainer -----*/

.transparent-section {

  .trainer-title {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
  }

  .custom-box-top {
    position: relative;
    margin-bottom: 71px;

    .vorname {
      position: absolute;
      color: #fafafa;
      font-size: 36px;
      line-height: 1;
      bottom: -57px;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    }

    .nachname {
      font-size: 50px;
      color: #fcf700;
      margin-left: 27px;
      text-shadow: none;
    }
  }

  .custom-box {
    width: 100%;
    padding: 20px;
    height: 100%;
  }

  .ts-text {
    color: #ffffff;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .transparent-section {

    .custom-box-top {
      max-width: 600px;
      margin-bottom: 100px;

      .vorname {
        font-size: 48px;
        bottom: -87px;
      }

      .nachname {
        font-size: 80px;
        margin-left: 36px;
      }
    }

    .custom-box {
      max-width: 600px;
    }
  }
}

/*----- Gym Carousel -----*/

.owl-carousel img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/*----- Gym / Kontakt -----*/

.grad-section {

  .gym-title {
    text-align: center;
    font-size: 60px;
  }

  a {
    text-decoration: none;
    color: #fafafa;

    &:hover {
      color: #fcf700;
      text-decoration: underline;
    }
  }
}

.triangle-bottom {
  position: relative;
  bottom: -1px;
}

.triangle-top {
  position: relative;
  top: -1px;
}

.icon {
  width: 20px;
  height: 25px;
  position: relative;
  top: 2px;
}

/*----- Second Black Section -----*/

.second-black-section {
  background: #040404;

  a {
    display: block;
    width: 150px;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .second-black-section {
    a {
      width: 250px;
    }
  }
}

/*----- Footer -----*/

footer {
  background: #000;

  .btn-footer {
    text-decoration: none;
    color: #fafafa;
    background: none;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2em;

    &:hover {
      color: #fcf700;
      text-decoration: underline;
      background: none;
    }
  }
}

/*----- Modal -----*/

modal-body {
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  font-family: 'Ubuntu Mono', monospace;
  letter-spacing: 1.4px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2em;
}